body {
 margin: 0 auto;
 max-width: 100%;
 }

 .container {
   display: flex;
 }

h2 {
   text-align: center;
 }


/*delete later*/
div {
   border: 1px solid black;
 }

/*Header*/
.nav-header {
  height: 64px;
  padding: 0 24px;
}

.nav-left {
  display: flex;
  width: 100%;
  font-size: 32px;
  align-items: center;
}

.colmar {
  font-weight: 800;
  margin-left: 10px;
}

.academy {
  color: grey;
}

.nav-bar {
 display: flex;
 padding-left: 16px;
 width: 40%;
 justify-content: flex-end;
 align-items: center;
}

.nav-bar a {
  margin-left: 16px;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/*Main container*/
.main-bar {
  background-color: grey;
}


.large {
 padding: 32px 24px;
 width: 60%;
}


.main-text {
  padding-top: 6rem;
}

.main-text h1 {
  font-size: 3rem;
}

.main-text h3 {
  font-size: 25px;
}

.main-text button {
  background-color: lightblue;
  padding: 8px 0;
  width: 90%;
  font-size: 18px;
}

/*Second section - practising*/


.second, .thesis {
  background-color: lightblue;
}

.box {
  display: flex;
}

.box .text {
  width: 40%;
}

.small-image .img {
  width: 30%;
  height: auto;
}

/*Third section - practising*/
.start-learning {
  padding: 32px 56px;
  background-color: grey;
}

.start-learning h2 {
  padding: 32px 0;
  text-align: center;
}

.course {
  margin: 0 16px;
  background-color: white;

}

.course img {
  width: 100%;
  height: auto;
}

/*Fourth section - video*/
.vid {
  width: 60%;
  height: auto;
}

.vid {
  width: 60%;
}

/*Footer*/
.footer {
  height: 56px;
}
