html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #373737;
  /*update later - font-family:
  color: #373737 charcoal
  color: #f4f4f4 paper
  color: #dcd0c0 silk
 color: #96858F dusty
 color: #6d7993 lavendar;
 color: #9099a2 overcast;
 color: #d5d5d5 paper */
}

body {
  margin: 0 auto;
  max-width: 100%;
 }

 .container {
   display: flex;
   align-content: center;
 }

 .box {
  display: flex;
 }

 .articles .box {
  align-items: center;
 }

 img, video {
   max-width: 100%;
   height: auto;
 }

p {
  font-size: 1.2rem;
  font-family: 'Roboto Slab', serif;
  line-height: 1.5;
  padding: 0.5rem 0;
  color: #4d4d4d;
}

 h2 {
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding: 2rem 0;
}

 h3 {
  font-size: 1.8rem;
  font-weight: 700;
}

h4 {
  padding: 0.5rem 0;
  font-size: 1.25rem;
}

a {
  color: #373737;
}

a:hover {
  color: #d5d5d5;
}

/*delete later*/
div {
   border: 1px solid black;
}

.articles {
   width: 40%;
   margin-left: 1rem;
   align-items: center;
 }

.articles .box {
   margin-bottom: 0.3rem;
 }

/*Header*/
.nav-header {
  height: 64px;
  padding: 0 24px;
  background-color: #96858F;
  justify-content: space-between;
}

.logo {
  display: flex;
  height: auto;
  font-size: 2rem;
  align-items: center;
}

.colmar {
  font-weight: 800;
  margin-left: 8px;
}

.academy {
  color: #d5d5d5;
}

.nav-bar {
   padding: 1rem 0;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar a {
    margin-left: 1rem;
    font-size: 1.2rem;
    text-decoration: none;
}

@media only screen and (min-width: 901px) {
.mobile {
    display: none;
}
}

/*mobile*/
@media only screen and (max-width: 900px) {
.logo, .nav-bar {
   display: none;
}

.mobile {
  width: 100%;
}

.mobile ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile img {
  height: 3rem;
  width:auto;
}
}

/*Main container*/
.main-bar {
    padding: 2rem 1.5rem 2rem 1.5rem;
    align-items: center;
}

.main-bar {
  background-color: #d5d5d5;
}

.main-bar .large-image {
 width: 60%;

}

.main-text {
  max-width: 40%;
  margin-left: 1.5rem;
  padding-left: 1rem;
}

.main-text h1 {
  font-weight: 700;
  font-size: 3.8rem;
  max-width: 36rem;
  color: #373737;
}

.main-text .lorem {
  font-size: 2.4rem;
  max-width: 36rem;
  text-align: left;
}

.main-text button {
  align-items: center;
  background-color: #96858F;
  padding: 0.5rem 0;
  width: 95%;
  font-size: 1.5rem;
}

.main-text button:hover {
  color: #d5d5d5;
}

/*Second section - practising*/
.second, .thesis, footer {
  background-color: #f4f4f4;
}

.second {
    padding: 0 1.5rem 0 1.5rem;
}

.second .large-image {
 width: 60%;
 padding-top: 2rem;
}

#firstarticles {
  border-left: #96858F 1px solid;
  padding-top: 1.5rem;
}

#firstarticles .box {
  border-bottom: #96858F 1px solid;
  border-top: #96858F 1px solid;
}

#guest, #fisma {
  background-color: #96858F;
}

.small-image {
  margin: 1rem;
  max-width: 35%
}

.textbox p {
  width: 87%;
}

.textbox h2 {
  text-align: left;
}

.name {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.articles .box .text {
  width: 55%;
}

.box .text h3 {
  padding-bottom: 0.5rem;
}

.box .text p {
  padding-bottom: 1rem;
}

.box .text a {
  font-weight: 700;
}

/*Third section - practising*/
.start-learning {
  padding: 0 3.5rem 2rem 3.5rem;
  background-color: #d5d5d5;
}

.start-learning h2 {
  text-align: center;
}

.start-learning .box {
  justify-content: center;
}

.course {
  width: 29%;
  margin: 1rem;
  background-color: #96858F;
}

.course .text {
  width: 78%;
  margin: 1rem 1rem 1.5rem 1rem;
}

/*Fourth section - video*/
.thesis {
  padding-right: 1.5rem;
}

.videos {
  max-width: 60%;
  height: auto;
  margin-left: 1.5rem;
  padding-bottom: 2rem;
}

.videos .text h3 {
  padding: 1.5rem 0 0.5rem 0;
}

video {
 margin-bottom: 1.5rem;
}

/*Footer*/
footer {
  font-size: 1.1rem;
  height: 3rem;
  padding: 1rem 1.5rem;
  border-top: #96858F 1px solid;
  justify-content: space-between;
}

.footer-bar a {
  padding-left: 1rem;
}
