html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  /*update later - font-family:
  color: later*/
}

body {
  margin: 0 auto;
  max-width: 100%;
 }

 .container {
   display: flex;
   align-content: center;
 }

 img, video {
   max-width: 100%;
   height: auto;
 }

p {
    font-size: 1.15rem;
  }

 h2 {
   font-size: 3rem;
 }

 h3 {
    font-size: 1.8rem;
  }

  h4 {
     font-size: 1.25rem;
   }

/*delete later*/
div {
   border: 1px solid black;
 }

/*Header*/
.nav-header {
  height: 64px;
  padding: 0 24px;
}

.logo {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 2rem;
  align-items: center;
}

.colmar {
  font-weight: 800;
  margin-left: 10px;
}

.academy {
  color: grey;
}

.nav-bar {
   width: 40%;
   padding: 1rem 0;
  }

  .nav-bar ul {
    display: flex;
    justify-content: flex-end;
   align-items: center;
}

  .nav-bar a {
    margin-left: 16px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }

  .nav-bar a:hover {
    color: lightblue;
  }

.mobile {
  display: none;
}

/*Main container*/
.main-bar, .second {
    padding: 32px 24px 32px 24px;
}

.main-bar {
  background-color: grey;
}

.main-text {
  max-width: 40%;
  padding-top: 9rem;
  margin-left: 1.5rem;
}

.main-text h1 {
  font-weight: 700;
  font-size: 3.5rem;
  max-width: 30rem;
  margin-bottom: 2rem;
}

.main-text .lorem {
  font-size: 2rem;
  max-width: 26rem;
  margin-bottom: 1.5rem
}

.main-text button {
  align-items: center;
  background-color: lightblue;
  padding: 0.5rem 0;
  width: 90%;
  font-size: 18px;
}

/*Second section - practising*/
.second, .thesis {
  background-color: lightblue;
}

.second .large-image {
 width: 60%;
}

.articles {
  width: 40%;
}

#guest {
  background-color: grey;
}

.box {
  display: flex;
}

.small-image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.textbox {
  padding: 0 1.5rem;
}

.textbox p {
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.name {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box .text {
  width: 65%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.box .text h3 {
  padding-bottom: 0.5rem;
}

.box .text h4 {
  padding-bottom: 0.5rem;
}

/*Third section - practising*/
.start-learning {
  padding: 32px 56px;
  background-color: grey;
}

.start-learning h2 {
  padding: 32px 0;
  text-align: center;
}

.course {
  margin: 0 16px;
  background-color: white;
}

.course .text {
  width: 80%;
}

/*Fourth section - video*/
.videos {
  max-width: 60%;
  height: auto;
  margin-left: 1.5rem;
}

    .videos .text h3 {
  padding-top: 1.5rem;
}


/*Footer*/
.footer {
  height: 56px;
}
