html {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  /*update later - font-family:
  color: #373737 charcoal
  color: #f4f4f4 paper
  color: #dcd0c0 silk
 color: #96858F dusty
 color: #6d7993 lavendar;
 color: #9099a2 overcast;
 color: #d5d5d5 paper */
}

body {
  margin: 0 auto;
  max-width: 100%;
 }

 .container {
   display: flex;
   align-content: center;
 }

 .box {
   display: flex;
 }

 img, video {
   max-width: 100%;
   height: auto;
 }

p {
    font-size: 1.15rem;
    font-family: 'Playfair Display', serif;
    /*font-family: 'Roboto Slab', serif;*/
  }

 h2 {
   font-size: 3rem;
   font-weight: 700;
   text-align: center;
   margin: 2rem 0;
 }

 h3 {
    font-size: 1.8rem;
  }

h4 {
     font-size: 1.25rem;
   }

h5 {
    padding: 0.5rem 0;
  }

p {
  padding: 0.5rem 0;
}

/*delete later*/
div {
   border: 1px solid black;
 }

/*Header*/
.nav-header {
  height: 64px;
  padding: 0 24px;
  background-color: #9099a2;
}

.logo {
  display: flex;
  width: 100%;
  height: auto;
  font-size: 2rem;
  align-items: center;
}

.colmar {
  font-weight: 800;
  margin-left: 10px;
}

.academy {
  color: grey;
}

.nav-bar {
   width: 40%;
   padding: 1rem 0;
  }

.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-bar a {
    margin-left: 16px;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }

.nav-bar a:hover {
    color: lightblue;
  }

.mobile {
  display: none;
}

/*Main container*/
.main-bar, .second {
    padding: 32px 24px 32px 24px;
}

.main-bar {
  background-color: #d5d5d5;
}

.main-text {
  max-width: 40%;
  padding-top: 9rem;
  margin-left: 1.5rem;
}

.main-text h1 {
  font-weight: 700;
  font-size: 3.5rem;
  max-width: 30rem;
  margin-bottom: 2rem;
  color: #373737;
}

.main-text .lorem {
  font-size: 2rem;
  max-width: 26rem;
  margin-bottom: 1.5rem;
  text-align: left;

}

.main-text button {
  align-items: center;
  background-color: #dcd0c0;
  padding: 0.5rem 0;
  width: 90%;
  font-size: 18px;
}

/*Second section - practising*/
.second, .thesis {
  background-color: #f4f4f4;
}

.second .large-image {
 width: 60%;
}

.articles {
  width: 40%;
}

#guest {
  background-color: #9099a2;
}

.small-image {
  width: 35%;
  height: auto;
  padding: 1rem;
}

.textbox {
  padding: 0 1.5rem;
}

.textbox p {
  font-size: 1.5rem;
  padding: 0 1.5rem;
}

.name {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.box .text {
  width: 65%;
  padding-top: 1rem;
  padding-left: 1rem;
}

.box .text h3 {
  padding-bottom: 0.5rem;
}

.box .text h4 {
  padding-bottom: 0.5rem;
}

/*Third section - practising*/
.start-learning {
  padding: 0 3.5rem 2rem 3.5rem;
  background-color: #d5d5d5;
}

.start-learning h2 {
  text-align: center;
}

.start-learning .box {
  justify-content: center;
}

.course {
  width: 29%;
  margin: 1rem;
  background-color: #dcd0c0;
}

.course .text {
  width: 80%;
  margin: 1rem 1rem 1.5rem 1rem;
}

/*Fourth section - video*/
.videos {
  max-width: 60%;
  height: auto;
  margin-left: 1.5rem;
}

.videos .text h3 {
  padding: 1.5rem 0 0.5rem 0;
}

.articles {
  padding-left: 1.5rem;
}

#fisma {
background-color: #9099a2;
}

/*Footer*/
.footer {
  height: 56px;
}
